
.main {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.inputContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.inputContainer input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 1rem;
}

.inputContainer label {
  display: flex;
  gap: 1rem;
  align-items: center;
}